model_config_list {
  config {
    name: 'ndvi_model'
    base_path: '/models/ndvi_model'
    model_platform: 'tensorflow'
    model_version_policy {
      latest {
        num_versions: 2
      }
    }
    version_labels {
      key: 'stable'
      value: 1
    }
    version_labels {
      key: 'canary'
      value: 2
    }
  }
  config {
    name: 'buffer_model'
    base_path: '/models/buffer_model'
    model_platform: 'tensorflow'
    model_version_policy {
      latest {
        num_versions: 1
      }
    }
  }
  config {
    name: 'change_detection_model'
    base_path: '/models/change_detection_model'
    model_platform: 'tensorflow'
    model_version_policy {
      latest {
        num_versions: 2
      }
    }
  }
}